# copy to .env, which git ignores
# quote values with single quotes
PASSWORD=''
# oauth client secret for the club tailnet tail4ccb95.ts.net, allowed to apply tag:general
# like 'tskey-client-...?ephemeral=false&preauthorized=true'
TS_AUTHKEY=''
# optional second wifi network for off campus, like a phone hotspot
WIFI_SSID=''
WIFI_PSK=''
